<style type="text/css">

body {
	background: linear-gradient(to right, #74ebd5, #ACB6E5);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	height: 900px;
	/*position: fixed;
	right: 0;
	left: 0;*/
}

.nav-links li a:focus, .nav-links li a:hover {
	background-color: none !important;
}

.right-top-links {
	margin-top: 30px;
}

.right-top-links li {
	margin: 0 20px 0 20px;
	/*display: block;*/
}

.domain-name {
	font-size: 62px;
	margin: 0 auto;
	color: #ffffff;
}

.description-text {
	margin-top: 30px;
	color: #ffffff;
}
	
.url-form, .multiurl-form {
	margin-top: 40px;
}

.badge {
	color: orange;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}


a {
	color: #fffff5 !important;
}

a:active, a:hover {
	outline: 0;
}

a:focus, a:hover {
	color: #ffffff !important;
	text-decoration: none !important;
}

</style>